<ion-header>
    <ion-toolbar>
        <ion-title>Añadir bicicleta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br><br>
    <form (ngSubmit)="addBici()" autocomplete="off" #formulario="ngForm">
        <ion-item>
            <ion-label position="floating">Marca</ion-label>
            <ion-input [(ngModel)]="bicicleta.marca" type="text" name="marca" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Modelo</ion-label>
            <ion-input [(ngModel)]="bicicleta.modelo" name="modelo" type="text" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Color</ion-label>
            <ion-input [(ngModel)]="bicicleta.color" type="text" name="color" required></ion-input>
        </ion-item>
        <ion-button class="ion-margin-top" type="submit" [disabled]="formulario.invalid" expand="block" color="dark">
            Añadir bicicleta
        </ion-button>
    </form>

</ion-content>