<ion-header>
    <ion-toolbar>
        <ion-title>Listado de Bicicletas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let bici of bicicletas">
            <ion-thumbnail>
                <img src="https://cdn.todomountainbike.net/images/articles/2020/niner-garantia-de-por-vida.jpg" />
            </ion-thumbnail>

            <ion-label style="margin-left: 2%;">
                <ion-text color="dark">
                    <h2><b>{{ bici.marca }}</b></h2>
                </ion-text>
                <ion-text color="medium">
                    <p>Modelo: {{bici.modelo}}</p>
                </ion-text>
                <ion-text color="medium">
                    <p>Color: {{bici.color}}</p>
                </ion-text>
                <ion-text>
                    <a [routerLink]="['/login',bici.id]">Ver bicicleta</a>
                </ion-text>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>