<ion-header [translucent]="true">
  <app-navegacion></app-navegacion>
</ion-header>
<ion-content>
    <br><br>
    <ion-title>Listado bicis</ion-title><br><br>
    <ion-list>
        <ion-item *ngFor="let bici of bicicletas">
            <ion-thumbnail>
                <img src="{{bici.imagen}}" />
            </ion-thumbnail>
            <ion-label style="margin-left: 2%;">
                <ion-text color="dark">
                    <h2><b>{{ bici.marca }}</b></h2>
                </ion-text>
                <ion-text color="medium">
                    <p>Modelo: {{bici.modelo}}</p>
                </ion-text>
                <ion-text color="medium">
                    <p>Color: {{bici.color}}</p>
                </ion-text>
                <ion-text>
                    <a [routerLink]="['/detalles',bici.id]">Ver bicicleta</a>
                </ion-text>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
