<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <br><br>
    <form (ngSubmit)="login()" autocomplete="off" #formulario="ngForm">
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="usuario.email" name="email" placeholder="Indique el correo electrónico" type="text" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{2,5}"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="usuario.password" placeholder="Indique la contraseña" type="password" name="password" required minlength="6"></ion-input>
        </ion-item>
        <ion-button class="ion-margin-top" type="submit" [disabled]="formulario.invalid" expand="block" color="dark">
            Acceder
        </ion-button>
    </form>
</ion-content>
