<ion-header [translucent]="true">
  <app-navegacion></app-navegacion>
</ion-header>
<ion-content>
    <br><br>
    <ion-title>Editar bici</ion-title>
    <div *ngIf="ver">
        <ion-card>
            <div class="img-container">
                <img src="{{bicicleta.imagen}}">
            </div>
            <ion-card-content>
                <form (ngSubmit)="editarBici()" autocomplete="off" #formulario="ngForm">
                    <ion-item>
                        <ion-label position="floating">Marca</ion-label>
                        <ion-input [(ngModel)]="bicicleta.marca" name="marca" type="text"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Modelo</ion-label>
                        <ion-input [(ngModel)]="bicicleta.modelo" type="text" name="modelo"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Color</ion-label>
                        <ion-input [(ngModel)]="bicicleta.color" type="text" name="color"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Imagen</ion-label>
                        <ion-input [(ngModel)]="bicicleta.imagen" type="text" name="imagen"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Tipo de cambio</ion-label>
                      <ion-select [(ngModel)]="bicicleta.cambio" name="cambio" required>
                        <ion-select-option value="externo">Externo</ion-select-option>
                        <ion-select-option value="interno">Interno</ion-select-option>
                        <ion-select-option value="mixto">Mixto</ion-select-option>
                    </ion-select>
                    </ion-item>


                    <ion-button class="ion-margin-top" type="submit" [disabled]="formulario.invalid" expand="block" color="dark">
                        Editar
                    </ion-button>
                </form>

            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
