<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Inicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card>
        <ion-card-header>
            <ion-card-title>Bienvenido a JacaByke!</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            JacaByke es una aplicación desarrollada con Ionic que permite añadir,editar y borrar bicicletas de cualquier tipo: urbanas, triantlón,montaña, BMX, etc
        </ion-card-content>
        <ion-card-content>
            Para acceder a JacaByke pulsa en el siguiente botón:
        </ion-card-content>

        <ion-card-content>
            <button routerLink='/login' ion-button icon-left>
          <ion-icon name="bicycle-outline" style="zoom:2.0;"></ion-icon>Login
          </button>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>

        </ion-card-header>

        <ion-card-content>
            Si no dispone de cuenta pueda registrarse pulsando en el siguiente botón:
        </ion-card-content>
        <ion-card-content>
            <button routerLink='/registro' ion-button icon-left>
      <ion-icon name="bicycle-outline" style="zoom:2.0;"></ion-icon>Registro
    </button>
        </ion-card-content>
    </ion-card>
</ion-content>
